*{
    font-family: 'Sarala', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0;
}
body{
    background-color: white;
}
.container{
    width: 1200px;
    background-color: white;
    margin: 0px auto;
    display: block;
}




/*===== HOME =====*/

/*----------POSITIONING AND LAYOUT NAVIGATION DESKTOP----------*/
#navmenu{
    float: left;
    margin-top: 45px;
    margin-left: 110px;
    font-size: 15pt;
}
#navmenu, .sub1, .sub2{
    list-style-type: none;
}
#navmenu > li, .sub1 > li, .sub2 > li{
    width: 180px;
    position: relative;
    text-align: center;
    float: left;
    background-color: white;
}
#navmenu > li > a {
    text-decoration: none;
    display: block;
    width: 180;
    height: 20px;
    line-height: 20px;
    border-right: 2px solid lightgray;
    padding: 0px 15px;
}
#eersteitemlinks{
    border-left: 2px solid lightgray;
    display: block;
}
.hoofditemsub1{
    border-right: 0px solid lightgray;
    text-decoration: none;
}
.sub1{
    display: none;
    position: absolute;
    border-right: 0px;
}
.sub1 > li{
    padding-top: 10px;
    padding-bottom: 5px;
}
.sub2{
    display: none;
    position: absolute;
    left: 180px;
    top: 0px;
}
#navmenu > li:hover .sub1{
    display: block;
}
.sub1 > li:hover .sub2{
    display: block;
}
#navmenu > li > a{
    background-color: white;
    color: black;
}
#navmenu > li:hover > a{
    transition: text-decoration 0.5s ease;
    text-decoration: underline;
}
.sub1 > li > a, .sub2 > li > a{
    background-color: white;
    color: black;
}
.sub1 > li:hover > a, .sub2 > li:hover > a{
    text-decoration: underline;
}
#navmenu_mobile{
    display: none;
}
/*----------LOGO----------*/
#logo{
    float: left;
    width: 150px;
    padding-top: 15px;
    padding-left: 20px;
}
/*----------BANNER----------*/
#banner{
    padding-top: 20px;
    max-width: 100%;
}
/*----------3 HOME ICONS----------*/
.icons_home{
    box-sizing: border-box;
    display: block;
    float: left;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin: 0;
    width: 33.33%;
}
#icon_text{
    padding-top: 10px;
    text-align: center;
    color: rgb(180, 180, 180);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
#icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
#footer{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    color: rgb(180, 180, 180);
    box-sizing: border-box;
    display: block;
    float: left;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
}

/*===== UNIVERSAL =====*/
#titel{
    display: block;
    float: left;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.social_media{
    width: 100%;
    padding-left: 20px;
}
#black_bar_image{
    width: 36.6%;
    padding-top: 30px;
    padding-bottom: 15px;
    float: left;
}
#social_media_icon{
    width: 30px;
    padding: 20px;
    float: left;
}
#media_icons{
    width: 33.33%;
}
#footer{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    color: rgb(180, 180, 180);
    box-sizing: border-box;
    display: block;
    float: left;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
}


/*===== DIENSTEN =====*/
.diensten_banner{
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 20px;
    margin: 0;
    width: 33.33%;
}
#diensten_banner_text{
    padding-top: 10px;
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
#diensten_banner_foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#diensten_lijst{
    list-style-type: none;
}
#diensten_linktoprojects{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/*===== PORTFOLIO =====*/
.portfolio_item{
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 20px;
    margin: 0;
    width: 33.33%;
}
#portfolio_item_foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#portfolio_item_foto:hover{
    cursor: pointer;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(120, 120, 120);
}

/*===== OVER ONS =====*/
.over_ons_class{
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 20px;
    margin: 0;
    width: 100%;
}
.over_ons_text{
    float: left;
    padding-top: 10px;
    text-align: left;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    width: 66.66%;
}
#over_ons_profielfoto{
    display: block;
    float: left;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
}
#over_ons_lijst{
    list-style-type: none;
    float: left;
}

/*===== CONTACT =====*/
.grid_column_left_contact{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding-top: 20px;
    padding-left: 20px;
}
.grid_column_right_contact{
    box-sizing: border-box;
    float: left;
    width: 66.66%;
    padding-top: 20px;
     padding-right: 20px;
}
#input_contact{
    width: 300px;
    margin-bottom: 20px;
}
#input_boodschap{
    width: 100%;
}
#verstuur_button{
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
#verstuur_button:hover{
    transition-duration: 0.4s;
    color: white;
    background-color: black;
}
.grid_column_left_contact > ul > li{
    list-style-type: none;
}
#map{
    margin-top: 20px;
    float: left;
    width: 100%;
    height: 400px;
    background-color: grey;
}
#offerte_zin{
    float: left;
    padding-left: 50px;
}
#link_text{
    color: black;
    text-decoration: underline;
}

/*=====OFFERTE=====*/
#footnote{
    display: block;
    float: left;
    font-size: 8pt;
}




/*=====RESPONSIVE=====*/

@media screen and (max-width:1199px){
/*===== HOME =====*/
    .container{
        width:100%;
    }
    #banner{
        width: 100%;
    }
    #logo{
        width: 10%;
        padding-left: 30px;
        float: none;
    }
    #navmenu{
        display: none;
    }
    #navmenu_mobile{
        display: block;
        list-style-type: none;
        font-size: 20pt;
    }
    #navmenu_mobile > li{
        width: 100%;
        position: relative;
        text-align: center;
        float: left;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #navmenu_mobile > li > a{
        text-decoration: none;
        color: black;
    }
    #navmenu_mobile > li > a{
        background-color: white;
        color: black;
    }
    #navmenu_mobile > li:hover > a{
        text-decoration: underline;
    }
/*===== DIENSTEN =====*/
    .diensten_banner{
        width: 33.33%;
        padding-left:20px;
        padding-right:20px;
    }
    #diensten_banner_foto{
        width: 100%;
    }
/*===== OVER ONS =====*/
    #over_ons_profielfoto{
        width: 29.99%;
    }
    #over_ons_text{
        width: 100%;
    }
/*===== UNIVERSAL =====*/
    #titel{
    padding-left: 20px;
    }
/*===== CONTACT=====*/
    #offerte_zin{
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 30px;
    }
}

@media screen and (max-width:1065px){
    .black_bar, .social_media{
        display: none;
    }
}

@media screen and (max-width:1030px){
/*===== CONTACT =====*/
    .grid_column_left_contact{
        width: 100%;
        padding-right: 20px;
    }
    .grid_column_right_contact{
        width: 100%;
        padding-left: 20px;
    }
    #input_contact{
        width: 100%;
        margin-bottom: 20px;
    }
    #input_boodschap{
        width: 100%;
    }
    #verstuur_button{
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
/*===== OFFERTE =====*/
    #footnote{
    padding-left: 20px;
    }
}

@media screen and (max-width:850px){
/*===== DIENSTEN =====*/
    .diensten_banner{
        width: 100%;
        padding-left:20px;
        padding-right:20px;
    }
    #diensten_banner_foto{
        width: 100%;
    }
/*===== OVER ONS =====*/
    #over_ons_profielfoto{
        width: 100%;
    }
    #over_ons_text{
        width: 100%;
    }
}

@media screen and (max-width:640px){
/*===== HOME =====*/
    .icons_home{
        width: 100%;
    }
    #icon{
        width: 20%;
    }
    #logo{
        width: 25%;
    }
/*===== PORTFOLIO =====*/
    .portfolio_item{
    width: 100%;
    }
    #portfolio_item_foto{
    width: 100%;
    }
/*===== OVER ONS =====*/
    #over_ons_profielfoto{
        width: 100%;
        padding-bottom: 5px;
    }
    #over_ons_text{
        width: 100%;
    }
}

@media screen and (max-width:320px){
    .container{
        width: 320px;
    }
}
